include ./partials/_head.pug
include ./partials/_nav.pug
body
  h1 Books
  p 
    a(href="/newbook" class="button" class="button") Create New Book
  p Filters: All | #[a(href="/overdue") Overdue] | #[a(href="/checkedout") Checked Out]
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year Released
    tbody
      each book in books
        tr
          td
            a(href="/bookdetail/" + book.id) #{book.title}
          td #{book.author}
          td #{book.genre}
          td #{book.first_published}