include ./partials/_head.pug
include ./partials/_nav.pug
body
  h1 Books
  p 
    a(href="/newbook" class="button" class="button") Create New Book
  p Filters: #[a(href="/allbooks") All] | #[a(href="/overdue") Overdue] | Checked Out
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year Released
    tbody
      each loan in loans
        tr
          td
            a(href="/bookdetail/" + loan.Book.id) #{loan.Book.title}
          td #{loan.Book.author}
          td #{loan.Book.genre}
          td #{loan.Book.first_published}