include ./partials/_head.pug
include ./partials/_nav.pug
body
  div.centered
    if status == "404"
      h1 #{status}
      img(src="../img/book.svg")
      h2 I'm sorry, but that page does not exist.  Please click the back button and try again.
    else
      h1 #{status}
      img(src="../img/book.svg")
      h2 I'm sorry, it looks like something has gone wrong.  Please wait a few minutes and try again.  If the problem persists, please give the following geekspeak to the website maintainer:
      p.left #{stack}
